@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.p-tabmenu .p-tabmenu-nav {
  background-color: transparent !important;
  border: none !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  background-color: transparent !important;
  border: none !important;
}

.p-menubar-button .p-icon {
  display: none !important;
}

