.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 6%;
    padding-right: 6%;
    cursor: pointer;
}

.logo {
    border-radius: 50%;
    margin-right: 8px;
    height: 50px;
    width: 50px;
}

.title {
    color: ghostwhite;
    font-size: 1.5rem;
    font-weight: 600;
}